/* CREDITS

    https://orangeable.com/css/animated-gradient-text

*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
body{
    /*color:red;*/
    /*background-color: rgb(233, 231, 231);*/
    text-align:center;
    margin:auto;
    font-family: 'Roboto', sans-serif;
	background-color: rgb(188, 138, 253);
	color:white;
}

div.text {
	background: linear-gradient(-45deg, #1e74ff, #5967ff, #df5eff, #ffffff, #ffffff/*#fe00e0, #6355a4, #80ff00, #e89a3e*/);
	background-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 5vw;
	letter-spacing: -5px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
	opacity: 1;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}
/*
.gear {
    color:blue;
}
.gearButton {
    background: transparent;
    border: none !important;
    position: absolute;
    bottom: 0;
    right: 0;
}
*/
#TurboDance {	
	width:80px;
	height:80px;
	object-fit: contain;
	object-position: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 50px;*/
}
#titleText {
	font-size: 75px;
}
.imgContainer{
	position: relative;
	text-align: center;
	color: white;
}
#grassImg{
	opacity: 1;
}
.centered{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*background-color: white;
	opacity: 1;*/
	border: solid 5px rgb(183, 0, 255);
	background-color: rgb(236, 155, 254);
}
.container{
	width: 60.5em;
}
.textSoze {
	font-size: 14px;
	text-transform: uppercase;
}